* { box-sizing: border-box }

/* Hide scrollbars while preserving scroll behavior */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and old Edge */
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
